*{
    margin:0;
    padding: 0;
    box-sizing:border-box;
}
.container{
    height: 100vh;
    width:100%;
    background:url(bg2.jpg);
    background-size: cover;
    background-position: center;
    font-family: Arial, Helvetica, sans-serif;
}
.navbar{
    display: flex;
    align-items: center;
    justify-content:space-evenly;
    padding: 30px 80px;
}

.title{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top:20px;
    color:crimson;
    font-size: 100px;
    margin-right:50px;
 
}


.menu li{
    list-style:none;
    display:inline-block;
  
}

.menu li a{
    text-decoration: none;
    color:#fff;
    font-size: 30px;
    margin-left:35px;
    transition: 2s;
}

.menu li a:hover{
    color:black;
    background-color:rgb(172, 148, 152);
    font-size: 30px;
    border-radius: 20px;
    padding:8px 25px;

}

.home{
    height: 400px;
    padding: 70px;
}

.heading{
    font-size: 70px;
    color:#fff;
    font-weight: bold;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-top:40px;
    margin-left:40px;
}
.para{
    margin-top:10px;
    color:lemonchiffon;
    font-size: 20px;
    margin-left:45px;
    padding-top:10px;
}
.btn{
    height: 50px;
    color:white;
    font-size: 30px;
    background: crimson;
    padding: 5px 30px;
    margin-top: 40px;
    margin-left:250px;
    border:none;
    border:1px solid crimson;
    border-radius:20px ;
    cursor: pointer;
}
.btn:hover{    
    border-radius: 22px;
    color:black;
    background-color:crimson;
    border: 0.5px silid crimson;
    box-shadow: 0px 1px 2px 4px rgb(112, 99, 99);
}

.parent{
    margin-top:105px;
    border:1px solid black;
    height:700px;
    width:100%;
    display: block;
}
.upper-head{
    font-size:20px;
    margin-top:90px;
    margin-left:70px;
    margin-bottom:60px;
}

.lower-boxes{
    height:500px;
    width:100%;
    display: flex;
    

}
.child{
    margin-top:30px;
    border:2px solid black;
    height:450px;
    width:300px;
    border-radius: 15px;
    background-color: antiquewhite;
    transition: 0.5s;    
    margin:auto;

}

.child:hover{
    box-shadow: 1px 1px 2px 5px rgb(197, 186, 186);
    height: 460px;
    width:305px;
    border-radius: 20px;
}

.child-img{
    height:200px;
    margin-left:13px;
    margin-top:13px;
    border:1px solid black;
    border-radius: 15px;

}

.c-head{
    font-size: 40px;
    margin-top:20px;
    margin-left:50px;
    font-family:'Times New Roman', Times, serif;    
}


.price-tag{
    font-size:40px;
    margin-left:150px;
    margin-top:13px;
    color:red;
    font-family:'Times New Roman', Times, serif;
   
}

.btn2{
    border: 1px solid black;
    padding-left: 5px;
    padding-right: 5px;
    font-size:30px;
    margin-left:20px;
    background-color: yellow;
    border-radius:15px;
    margin-top:25px;
    transition: 1s;
}

.btn2:hover{
    border: 1.5px solid black;
    padding-left: 6px;
    padding-right: 6px;
    font-size:32px;
    margin-left:20px;
    background-color: crimson;
    border-radius:16px;
    cursor:pointer;
    color:white;
    box-shadow: 2px 2px 2px 3px rgb(196, 170, 170);
    margin-top:25px;
}

.hot-c-img{
    height:185px;
    margin-left:11px;
    margin-top:13px;
    border:1px solid black;
    border-radius: 15px;   
}

.black-c-img{
    width:270px;
    height: 200px;
    margin-left:15px;
    margin-top:15px;
    border:1px solid black;
    border-radius: 15px;   

}

.h-heading{
    font-size: 55px;
    margin-left:30px;
    font-weight: bold;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}